<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
          colors="true"
          verbose="true"
          stopOnFailure="true"
         >
    <testsuites>
        <testsuite name="Example">
            <file>test1.php</file>
        </testsuite>
    </testsuites>
</phpunit>
